# Definition of the virtual environment.
# Tested with Python 3.12.3 on Linux x86/64.
#
# Thomas Guillod - Dartmouth College
# Mozilla Public License Version 2.0

# Python numerical stack
pandas==2.2.3
numpy==2.2.5
scipy==1.15.3
matplotlib==3.10.3

# JAX numerical stack
equinox==0.12.2
diffrax==0.7.0
optimistix==0.0.10
optax==0.2.4
jax==0.5.2
